<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Idea Contest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <!-- <link rel="stylesheet" href="../static/styles.css"> -->
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            <!-- <img src="../static/logo.png" alt=""> -->
        </div>
    </header>
    
    <div class="main-content">
        <div class="left-content">
            <p><span id="typingEffect"></span></p>
        </div>  
    
        <div class="container">
            <h1>Startup Innovation Contest</h1>
            <p style="font-size: 18px; color: #555;">In collaboration with University Baptist Church, Ogbomoso</p>
            <p style="font-size: 20px;"><b>Your chance to win up to N500,000</b></p>
            <form id="myform" action="https://script.google.com/macros/s/AKfycbyvigmiK16DlKP-wJIoKLBJxIZMpb4gzaKYGeblo69QkqcjmdYDgBETZ2U0O3_THll3jQ/exec" method="POST">
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullName" name="fullName" required>

                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required>

                <label for="ideaTitle">Idea Title:</label>
                <input type="text" id="ideaTitle" name="ideaTitle" required>

                <label for="industry">Industry:</label>
                <select id="industry" name="industry" required>
                    <option value="" disabled selected>Select an industry</option>
                    <option value="Technology">Technology</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Finance">Finance</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Retail">Retail</option>
                    <option value="Education">Education</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Energy">Energy</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Telecommunication">Telecommunication</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Construction">Construction</option>
                    <option value="Hospitality">Hospitality</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Aerospace">Aerospace</option>
                    <option value="Biotechnology">Biotechnology</option>
                    <option value="Insurance">Insurance</option>
                    <option value="E-commerce">E-commerce</option>
                    <option value="Others">Others</option>
                </select>

                <label for="description">Short Description (in no more than 150 words):</label>
                <textarea id="description" name="description" required></textarea>
                <div id="word-count-message"></div>

                <label for="impact">Potential Impact (Market Segment):</label>
                <input type="text" id="impact" name="impact" required>

                <label for="usp">Unique Selling Point (USP):</label>
                <input type="text" id="usp" name="usp" required>

                <div class="checkbox-container">
                    <input type="checkbox" id="consent" name="consent" required>
                    <label for="consent">I agree to the <a href="terms_and_conditions.html">terms and conditions</a>.</label>
                </div>

                <button type="submit">Submit Your Idea</button>
            </form>
        </div>

        <div class="sidebar">
            <h2 onclick="toggleSection('eligibility-list')">Who Is Eligible? <span class="arrow">&#9662;</span></h2>
            <ul id="eligibility-list">
                <li>* Minimum academic qualification level must be from 300 level and up.</li>
                <li>* Participants can be an individual or as part of a team.</li>
                <li>* If entering as a team, the team members must all meet eligibility criteria.</li>
                <li>* Participants must submit a unique and innovative idea that addresses a specific problem or market need.</li>
                <li>* Ideas must be original and only one entry is allowed for each participant.</li>
            </ul>
            <h2 onclick="toggleSection('process-list')">Application Process <span class="arrow">&#9662;</span></h2>
            <ul id="process-list">
                <li>* Application is open from Aug. 1 through Aug. 21, 2024.</li>
                <li>* All innovative ideas will go through rigorous screening process.</li>
                <li>* Only unique and successfully vetted ideas will be invited for a more elaborate panel interview and presentation.</li>
                <li>* Announcement of winners - numbers of winners TBD.</li>
                <li>* Winner(s) will undergo mentorship, incubation and possible partnership process with the organizers </li>
            </ul>
            <h2 onclick="toggleSection('contact-list')">Have Questions? <span class="arrow">&#9662;</span></h2>
            <ul id="contact-list">
                <li>Email: theacademist247@gmail.com</li> 
            </ul>
        </div>
    </div>

    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <p>&copy; 2024 The Academist. All rights reserved.</p>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>
